<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li class=""><a href="/">Dashboard</a></li>
        <% if(user) {%>
            <li class=""><a href="/chat">Global chat</a></li>
            <li class=""><a href="/chat_rooms">Chat rooms</a></li>
        <%}%>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
            <li><a id="logoutBtn" href="#">Logout </a></li>
        <%} else {%>
            <li><a href="/login">Login </a></li>
        <%}%>
    </ul>
    <script>
        $('#logoutBtn').on('click', function() {
            $.ajax({
                type: "POST",
                url: '/logout'
            });
        });
    </script>
</nav>