<nav class="navbar navbar-default navbar-fixed-left" role="navigation">
    <ul class="nav navbar-nav">
        <li class="<?php echo $this->Admin->activeMenuItem('dashboard'); ?>">
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">My profile</a>
        </li>
        <li>
            <a href="#">Logout ()</a>
        </li>
    </ul>
</nav>