<div class="container">
    <nav class="navbar navbar-default navbar-fixed-left" role="navigation">
        <ul class="nav navbar-nav">
            <li class="<?php echo $this->Admin->activeMenuItem('dashboard'); ?>">
                <a href="#">Dashboard</a>
            </li>
            <li class="">
                <a href="#">Search</a>
            </li>
            <li class="">
                <a href="#">Reports</a>
            </li>
            <li class="">
                <a href="#">Admin users</a>
            </li>
            <li>
                <a href="#">My profile</a>
            </li>
            <li>
                <a href="#">
                    Logout ()
                </a>
            </li>
        </ul>
    </nav>
    </div>
</div>