<% layout('layout/page') %>
<% block('title', 'Chat') %>
<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>

<p>Welcome, <%=user.get('username') %></p>

<div id="room">
    <form>
        <input class="form-control" autocomplete="off" autofocus placeholder="Message.."/>
    </form>
    <br/>
    <ul></ul>
</div>


<script>
    var socket = io.connect('', {
        reconnect: false
    });

    var form  = $('#room form');
    var input = $('#room input');
    var ul    = $('#room ul');

    socket
            .on('message', function(message) {
                printMessage(message);
            })
            .on('connect', function() {
                printStatus('connected');
                form.on('submit', sendMessage);
                input.prop('disable', false);
            })
            .on('disconnect', function() {
                printStatus('disconnected');
                form.off('submit', sendMessage);
                input.prop('disable', true);
                setTimeout(reconnect, 500);
            });


    function sendMessage() {
        var text = input.val();
        socket.emit('message', text, function(data) {
            printMessage(text);
        });

        input.val('');
        return false;
    }

    function printMessage(message) {
        $('<li>', {text: message}).prependTo(ul);
    }

    function printStatus(status) {
        $('<li>', {text: status}).prependTo(ul);
    }

    function reconnect() {
        socket.once('error', function() {
            setTimeout(reconnect, 500);
        });
        socket.socket.connect();
    }

</script>