<% layout('layout/page') %>
<% block('title', 'Chat') %>
<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>

<p>Welcome, <%=user.get('username') %></p>

<div id="room">
    <form>
        <!--<input class="form-control" autocomplete="off" autofocus placeholder="Message.."/>-->
        <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Send</button>
            </span>
            <input type="text" class="form-control">
        </div>
    </form>
    <br/>
    <ul></ul>
</div>


<script>
    var socket = io.connect('', {
        reconnect: false
    });

    var form  = $('#room form');
    var input = $('#room input');
    var ul    = $('#room ul');

    socket
            .on('message', function(username, message) {
                printMessage(username + '>' + message);
            })
            .on('leave', function(username) {
                printStatus(username + " disconnected");
            })
            .on('join', function(username) {
                printStatus(username + " connected");
            })
            .on('connect', function() {
                printStatus('connected');
                form.on('submit', sendMessage);
                input.prop('disable', false);
            })
            .on('logout', function() {
                location.href = "/";
            })
            .on('error', function(reason) {
                if(reason == "handshake unauthorized") {
                    printStatus("You are disconnected");
                } else {
                    setTimeOut(function() {
                        socket.sockets.connect();
                    }, 500);
                }
            })
            .on('disconnect', function() {
                printStatus('disconnected');
                form.off('submit', sendMessage);
                input.prop('disable', true);
                setTimeout(reconnect, 500);
            });


    function sendMessage() {
        var text = input.val();
        socket.emit('message', text, function(data) {
            printMessage(text);
        });

        input.val('');
        return false;
    }

    function printMessage(message) {
        $('<li>', {text: message}).prependTo(ul);
    }

    function printStatus(status) {
        $('<li>', {text: status}).prependTo(ul);
    }

    function reconnect() {
        socket.once('error', function() {
            setTimeout(reconnect, 500);
        });
        socket.socket.connect();
    }

</script>