<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello</h1>
    <p><%-body%></p>
  </body>
</html>