body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chat {
    word-wrap: break-word;
}

.input-group-btn {
    vertical-align: baseline;
}